html
{
    font-size: 62.5%;
}

body
{
    font-family: '游ゴシック', YuGothic, 'メイリオ', Verdana, 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
    font-size: 1.4rem;
    line-height: 1.6;
    letter-spacing: .1em;
    color: #4c4c4c;
    background-color: #f0f8ff;
}

.flexible-images {
  width: 100%;
  height:500px;
  background-image: url("../images/AMEasagirirabe_TP_V4.jpg");
  background-size: cover;
  background-position: center center;
}

.box1{
  width: 90%;
  margin: 10px auto;
  text-align:center;
  color:#191970;
  font-weight: bold;
  font-size: 1.8rem;
}
.container {
  max-width: 100%;
  margin: 10px 0px 10px 0px;
  padding:10px 0px 10px 0px;
}
.titile{
 color: #800080;
 font-weight: bold;
}
.box2 {
  float: left;
  width: 33.333%;
  box-sizing: border-box;
  text-align:center;
}
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}
.contact{
  width: 90%;
  margin: 10px auto;
  text-align:center;
  color:#191970;
  font-weight: bold;
  font-size: 1.8rem;
}
  
.square_btn {
    position: relative;
    display: inline-block;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #FFF;
    background: #03A9F4;/*色*/
    border: solid 1px #0f9ada;/*線色*/
    border-radius: 4px;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
    text-shadow: 0 1px 0 rgba(0,0,0,0.2);
}

@media (max-width: 768px) {
  
.flexible-images {
  height:250px;
}

.box2 {
  width: 100%;
  margin:0px 0px 10px 0px;

}

}